# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv files
.env
.env.local
.env.*.local

# Output
dist/
build/
tmp/
temp/
.cache/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# npm/yarn/lock files (caso queira ignorar)
# package-lock.json
# yarn.lock

# Others
*.sublime-workspace
*.sublime-project

# Optional: ignore system files
*.swp
